[Icon Theme]
Name=SnokOS Dark
Name[x-test]=xxSnokOS Darkxx
Comment=cursors Dark SnokOS by Mahrez Ben Mohammed
Comment[x-test]=xxSnokOS Light by Mahrez Ben Mohammedxx
[Desktop Entry]
Name[en_US]=cursors-Dark.theme
